<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>simple Vue</title>
    <style></style>
  </head>
  <body>
    <div id="div1">
      <button style="font-size:30px;" v-click="fn">点击切换值</button>
      <p v-html="html"></p>
      {{obj.data}} 这是模版 {{message}}
      <p v-if="ok">测试 v-if</p>
      <p>{{message}} {{modelMessage}}</p>
      <input type="text" v-model="modelMessage" />
      <div class="div2" v-show="show" style="font-size: 40px;">
        <div>test v-show</div>
      </div>
      <p class="style" :style="style" style="background: #f60;">测试:style</p>
      <div v-for="(item, index) in list" class="list">
        item: {{item}}, index: {{index}}
      </div>
      <p :class="cls" class="hello">{{hello}}</p>
    </div>
    <script src="./src/main.js"></script>
  </body>
</html>
